node_modules
dist
/uploads/*
!/uploads/defaults/
!/uploads/defaults/**
!/uploads/users/
!/uploads/users/**
/winston

# Firebase credentials
firebase-adminsdk.json

# Drawio
.$DB DIAGRAM & RELATIONS.drawio.*
config.bat
